.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.edit-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .edit-form-container {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .edit-form-container {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .edit-form-container {
        width: 100%;
    }
}