.flyer-box {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    justify-content: center;
}

.header-flyer {
    margin: auto;
    font-size: 60px;
}

.flyer-info {
    padding: 50px;
    margin: 20px;
    font-size: xx-large;
}

.button-attending {
    margin: auto;
    background: rgba(0, 128, 0, 0.382);
    font-size: 40px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 1420px) {
    .flyer-info {
        font-size: large;
        padding: 5px;
    }

    .header-flyer {
        font-size: 40px;
    }

    .button-attending {
        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    .header-flyer {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .header-flyer {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .button-attending {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .button-attending {
        font-size: 10px;
    }
}