.potluck-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

/* .potluck-form-container, .potluck-display-container {
    display: flex;
    flex-direction: column;
} */

.potluck-header-container {
    width: 100%;
}

.potluck-form-container {
    margin: 0 0.5em 0 0.5em;
    width: 35%;
}

.potluck-display-container {
    margin: 5em 0.5em 0 0.5em;
    width: 30%;
}

.header-potluck {
    margin: auto;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 0;
}

@media screen and (max-width: 1475px) {
    .potluck-form-container {
        width: 40%;
    }

    .potluck-display-container {
        width: 35%;
    }
}

@media screen and (max-width: 1280px) {
    .potluck-form-container {
        width: 45%;
    }

    .potluck-display-container {
        width: 40%;
    }
}

@media screen and (max-width: 1080px) {
    .potluck-form-container {
        width: 50%;
    }

    .potluck-display-container {
        width: 45%;
    }
}

@media screen and (max-width: 970px) {
    .potluck-container {
        flex-direction: column;
        margin-top: 2.5em;
        height: min-content;
    }

    .potluck-form-container, .potluck-display-container {
        width: 60%;
    }

    .potluck-header-container {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 750px) {
    .potluck-form-container {
        width: 75%;
    }

    .potluck-display-container {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .potluck-form-container {
        width: 95%;
    }

    .potluck-display-container {
        width: 95%;
    }
}