.display-table-row {
    position: relative;
    height: 50px;
}

.display-table {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.display-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.display-popup-menu-container {
    position: absolute;
    top: 20%;
    right: 7.5%;
    z-index: 2;
    width: 20%;
    padding: 0 !important;
}

.display-popup-menu-container:hover {
    background-color: white;
    box-shadow: none;
}

.table>:not(caption)>*>* {
    box-shadow: none;
}

.display-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .table>:not(caption)>*>* {
        padding: 2em 1em 2em 1em;
    }
}