.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 450px;
}

.form-header-container, .form-button-container, .form-error-message-container  {
    width: 100%;
    margin-left: 5%;
}

.form-label-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 0.5em 0.5em 0.5em;
}

.form-error-message {
    color: rgb(191, 0, 0);
}

.form-input {
    width: 100%;
    height: 35px;
    border: 1px solid black;
}

.form-dropdown-menu {
    height: 50px;
}

.form-submit-btn {
    transition: 0.3s ease-in-out;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    position: relative;
    z-index: 1;
    padding: 3px;
    height: 35px;
    width: 65px;
    border-radius: 3px;
    cursor: pointer;
}

.form-submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #ffff;
    border: 1px solid #000;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.form-submit-btn:hover {
    color: #000;
}

.form-submit-btn:hover::before { 
    transform: scaleY(1);
}